<div id="<%= dom_id pack %>">
  <p>
    <strong>Name:</strong>
    <%= pack.name %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= pack.title %>
  </p>

  <p>
    <strong>Icon:</strong>
    <%= pack.icon %>
  </p>

</div>
