<h1> this is the homepage, welcome :) </h1>
<%= link_to "see the starterpacks", starter_packs_path %>

<div class="container">

    <a class="icon" href="#index"><img src="starterpackexe.png" alt="" width="100px"></a>
    <a class="icon2" href="#index2"><img src="adminexe.png" alt="" width="100px"></a>

    <div id="index" class="modal">
<div class="modal_content">
        <img src="msgalert.png" alt="">
    
        <a href="#" class="modal_close">&times;</a>
</div>
    </div>

    <div id="index2" class="modal2">
        <div class="modal2_content">
                <img src="login.png" alt="" width="400">
                
                <a href="#" class="modal2_close">&times;</a>
                
        </div>
    </div>

<a class="openstarterpack" href="https://wikipedia.org"><button>ouvrir</button></a> 
<a class="log" href="questions.html"><button>connexion</button></a> 


    </div>
</div>
