<div class="container">
  <p style="color: green"><%= notice %></p>

  <h1>starter_packs.exe</h1>

  <div id="starter_packs" class="insideContainer">
  <% @starter_packs.each do |starter_pack| %>
    <%= image_tag starter_pack.icon %>
    <p>
      <%= link_to starter_pack.name, starter_pack %>
    </p>
  <% end %>
  </div>

  <%= link_to "New starter pack", new_starter_pack_path %>
</div>

